:root {
    --primary: #6AC9C5;
    --secondary: #FAFAF0;
    --accent: #EA4842;
    --accent-2: #292828;
    --aux: #EA8E86;
}

#about {
    grid-area: about;
}

#competencies {
    grid-area: competencies;
}

#experience {
    grid-area: experience
}

#education {
    grid-area: education;
}

#hobbies {
    grid-area: hobbies;
}

body {
    top: 0%;
    margin: 0%;
    background-color: var(--secondary);
    color: var(--accent-2);
}


/* header area */

header {
    background-color: var(--primary);
}

figure img {
    border-radius: 3px;
    border: var(--accent-2) 1px solid
}

header div {
    display: flex;
    flex-direction: row;
    margin: 0%;
    margin-left: 10%;
    align-items: center;
}


/*contact section */

#contact {
    background-color: var(--secondary);
    position: absolute;
    top: 2%;
    right: 0%;
    width: 500px;
    padding: 1%;
    border-radius: 5px 0 0 5px;
}

#contact h3 {
    display: none;
}

#contact div dl {
    margin: 0%;
    display: flex;
}

#contact dt {
    width: 100px;
    color: var(--accent-2);
}

#contact a {
    text-decoration: none;
    color: var(--accent);
}

#contact dd {
    color: var(--accent);
}


/* content sections */

.content {
    display: grid;
    gap: 20px;
    max-width: 80%;
    margin: auto;
    margin-top: 3%;
    grid-auto-rows: auto;
    grid-column: 1fr fr;
    grid-template-areas: "about competencies " "experience education" "hobbies ...";
}

.content h3::before {
    content: "";
    background-color: var(--accent);
    position: absolute;
    height: 2rem;
    width: 5px;
    margin-left: -1%;
}

.content h3 {
    padding-left: 0.4rem;
    line-height: 2rem;
    background: linear-gradient(90deg, var(--primary) 0%, rgba(0, 212, 255, 0) 100%);
}

.content h4 {
    color: var(--aux);
}

.content .experience-location::before {
    content: "In";
}

.content .experience-institution::before {
    content: " - ";
}

.content .experience-date-separator {
    color: var(--aux);
    font-weight: bolder;
}


/* progress bars */