:root {
    --primary: #011826;
    --secondary: #012840;
    --accent: #F21905;
    --accent-2: #F2D22E;
    --aux: #5FD9C2;
    --pbb1: #115D8C;
    --pb1: #C9C60E;
    --pbt1: #011826;
    --pbb2: #013F66;
    --pb2: #696707;
    --pbt2: #011826;
}

#about {
    grid-area: about;
}

#competencies {
    grid-area: competencies;
}

#experience {
    grid-area: experience
}

#education {
    grid-area: education;
}

#hobbies {
    grid-area: hobbies;
}

body {
    top: 0%;
    margin: 0%;
    background-color: var(--secondary);
    color: var(--accent-2);
}

body p {
    font-family: sans-serif;
}


/* header area */

header {
    background-color: var(--primary);
}

figure img {
    border-radius: 3px;
    border: var(--accent-2) 1px solid;
    width: 110px;
    height: 110px;
}

header div {
    display: flex;
    flex-direction: row;
    margin: 0%;
    margin-left: 10%;
    align-items: center;
}


/*contact section */

#contact {
    background-color: var(--secondary);
    position: absolute;
    top: 2%;
    right: 0%;
    width: 500px;
    padding: 1%;
    border-radius: 5px 0 0 5px;
}

#contact h3 {
    display: none;
}

#contact div dl {
    margin: 0%;
    display: flex;
}

#contact dt {
    width: 100px;
    color: var(--accent-2);
}

#contact a {
    text-decoration: none;
    color: var(--aux);
}

#contact dd {
    color: var(--aux);
}


/* content sections */

.content {
    display: grid;
    gap: 20px;
    max-width: 80%;
    margin: auto;
    margin-top: 3%;
    grid-auto-rows: auto;
    grid-column: 1fr fr;
    grid-template-areas: "about competencies " "experience education" "hobbies ...";
}

.content h3::before {
    content: "";
    background-color: var(--accent);
    position: absolute;
    height: 2rem;
    width: 5px;
    margin-left: -13px;
}

.content p {
    line-height: 1.5rem;
    padding: 1rem;
    border-left: var(--accent) 2px dashed;
    border-bottom: var(--accent) 2px dashed;
}

.content #about p {
    border-left: 0px;
    border-bottom: 0px;
    padding: 0.5rem;
}

.content h3 {
    padding-left: 0.4rem;
    line-height: 2rem;
    background: linear-gradient(90deg, var(--primary) 0%, rgba(0, 212, 255, 0) 100%);
}

.content h4 {
    color: var(--aux);
}

.content .experience-location::before {
    content: "In";
}

.content .experience-institution::before {
    content: " - ";
}

.content .experience-date-separator {
    color: var(--aux);
    font-weight: bolder;
}


/*--  skills  --*/

.skills-primary::before {
    content: "Main";
}

.skills-secondary::before {
    content: "Other";
}


/*-- skill bar size settings --*/

.skill span {
    font-size: 12pt;
    overflow: visible;
    display: inline-block;
    margin: 0.2rem;
    padding: 0.2rem;
    border-right: 2px solid;
    padding-left: 0.5rem;
}


/*-- primary progress bars --*/

.skills-primary .skill {
    background-color: var(--pbb1);
    margin-top: 0.3rem;
    line-height: 2rem;
}

.skills-primary span {
    color: var(--pbt1);
    border-right: yellowgreen 2px solid
}

.skills-primary div[data-skill="1"] span {
    width: 10%;
    background-color: var(--pb1);
}

.skills-primary div[data-skill="1"] span {
    width: 10%;
    background-color: var(--pb1);
}

.skills-primary div[data-skill="3"] span {
    width: 30%;
    background-color: var(--pb1);
}

.skills-primary div[data-skill="5"] span {
    width: 50%;
    background-color: var(--pb1);
}

.skills-primary div[data-skill="7"] span {
    width: 70%;
    background-color: var(--pb1);
}

.skills-primary div[data-skill="9"] span {
    width: 90%;
    background-color: var(--pb1);
}

.skills-primary div:last-child {
    margin-bottom: 20px;
}


/*-- secondary progress bars --*/

.skills-secondary .skill {
    background-color: var(--pbb2);
    margin-top: 0.3rem;
    line-height: 2rem;
}

.skills-secondary span {
    color: var(--pbt2);
    border-right: yellowgreen 2px solid
}

.skills-secondary div[data-skill="1"] span {
    width: 10%;
    background-color: var(--pb2);
}

.skills-secondary div[data-skill="1"] span {
    width: 10%;
    background-color: var(--pb2);
}

.skills-secondary div[data-skill="3"] span {
    width: 30%;
    background-color: var(--pb2);
}

.skills-secondary div[data-skill="5"] span {
    width: 50%;
    background-color: var(--pb2);
}

.skills-secondary div[data-skill="7"] span {
    width: 70%;
    background-color: var(--pb2);
}

.skills-secondary div[data-skill="9"] span {
    width: 90%;
    background-color: var(--pb2);
}


/*--  media queries  --*/

@media screen and (max-width: 1000px) {
    header div {
        flex-direction: column;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    #contact {
        position: relative;
        width: 100%;
        padding: 0%;
        margin-bottom: 1rem;
    }
    #contact h3 {
        display: block;
    }
    #contact div {
        width: 100%;
        border-radius: 5px;
    }
}